// Google Fonts import
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

// Reset margins and paddings, box-sizing
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem === 10px on default font settings
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-m);
  font-family: var(--font-primary);
}

// Reset headings typography settings for consistency
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

// Reset anchor tags underline to style them somewhere else
a {
  text-decoration: none;
}

// Reset inputs and buttons styling
input,
button,
textarea {
  border: 0;

  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;

  &:focus {
    outline: 0;
  }
}

button {
  cursor: pointer;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--c-gray-400);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--c-gray-400);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--c-gray-400);
}
