.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  transition: all 0.2s;

  &__content {
    flex: 1 1 auto;
    padding: 3rem;
  }

  &.light {
    background-color: var(--color-bg-light);
    color: var(--color-text-dark);
  }

  &.dark {
    background-color: var(--color-bg-dark);
    color: var(--color-text-light);
  }
}
