.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  transition: all 0.2s;

  &__content {
    flex: 1 1 auto;
    padding: 3rem;
  }

  &.light {
    background-color: var(--c-gray-100);
    color: var(--c-gray-900);
  }

  &.dark {
    background-color: var(--c-gray-900);
    color: var(--c-gray-100);
  }
}
