.navbar {
  display: flex;
  justify-content: space-between;

  padding: 2rem 3rem;

  background-color: var(--c-primary-500);
  box-shadow: var(--shadow-m);
  color: #fff;
  font-size: var(--font-size-xl);

  &__theme-toggle {
    padding: 0rem;
  }
}
