.note {
  width: 100%;
  max-width: 32rem;
  max-height: 24rem;

  padding: 2rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  border-radius: var(--rad-m);
  box-shadow: var(--shadow-m);

  transition: all 0.2s;

  &.light {
    background-color: #fff;
    border: 1px solid var(--c-gray-200);
    color: var(--c-gray-900);

    &:hover {
      background-color: var(--c-primary-50);
    }
  }

  &.dark {
    background-color: var(--c-gray-800);
    border: 1px solid var(--c-gray-700);
    color: var(--color-text-light);

    &:hover {
      background-color: var(--c-gray-700);
    }
  }

  &__title {
    margin-bottom: 1rem;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
  }
}

@media screen and (max-width: 780px) {
  .note {
    max-width: 100%;
    margin-right: 0;
  }
}
