/* Including TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.transition-modal {
  transition: 1s all;
}

.btn {
  @apply transition-all text-white shadow-md px-4 py-2 rounded-lg;
}

.btn:focus {
  @apply ring-2;
}

.btn-primary {
  @apply bg-blue-500;
}
.btn-primary:hover {
  @apply bg-blue-400;
}

.btn-primary:active {
  @apply bg-blue-700;
}

.btn-primary:focus {
  @apply ring-blue-700;
}

.btn-delete {
  @apply bg-red-500;
}
.btn-delete:hover {
  @apply bg-red-400;
}

.btn-delete:active {
  @apply bg-red-700;
}

.btn-delete:focus {
  @apply ring-red-700;
}
