.btn {
  padding: 1rem 2rem;
  border-radius: var(--rad-m);
  box-shadow: var(--shadow-m);
  color: #fff;

  transition: 0.2s all;

  &--primary {
    background-color: var(--c-primary-500);

    &:hover {
      background-color: var(--c-primary-400);
    }

    &:active {
      background-color: var(--c-primary-700);
    }

    &:focus {
      box-shadow: var(--shadow-m), 0 0 0 2px var(--c-primary-700);
    }
  }

  &--danger {
    background-color: var(--c-danger-500);

    &:hover {
      background-color: var(--c-danger-400);
    }

    &:active {
      background-color: var(--c-danger-700);
    }

    &:focus {
      box-shadow: var(--shadow-m), 0 0 0 2px var(--c-danger-700);
    }
  }
}
